version: '3'
services:
  triplit:
    image: aspencloud/triplit-server-bun:latest
    volumes:
      - ./triplit-data:/mnt/triplitdb
    environment:
      LOCAL_DATABASE_URL: '/mnt/triplitdb/app.db'
    ports:
      - 6543:6543
  app:
    build:
      context: ..
      dockerfile: Dockerfile
      target: devcontainer
    env_file: .env
    volumes:
      - ../..:/workspaces:cached
    network_mode: service:triplit
    command: sleep infinity
