services:
  app:
    build:
      context: ..
      dockerfile: Dockerfile
      target: devcontainer
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity

  db:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cofund
    restart: always
