@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--accent-foreground: 240 5.9% 10%;
		--accent: 240 4.8% 95.9%;
		--background: 0 0% 100%;
		--border: 240 5.9% 90%;
		--card-foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--destructive-foreground: 0 0% 98%;
		--destructive: 0 72.2% 50.6%;
		--foreground: 240 10% 3.9%;
		--input: 240 5.9% 90%;
		--muted-foreground: 240 3.8% 46.1%;
		--muted: 240 4.8% 95.9%;
		--popover-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--primary-foreground: 0 0% 98%;
		--primary: 240 5.9% 10%;
		--radius: 0.5rem;
		--ring: 240 10% 3.9%;
		--secondary-foreground: 240 5.9% 10%;
		--secondary: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-background: 0 0% 98%;
		--sidebar-border: 220 13% 91%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--accent-foreground: 0 0% 98%;
		--accent: 240 3.7% 15.9%;
		--background: 240 10% 3.9%;
		--border: 240 3.7% 15.9%;
		--card-foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--destructive-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--foreground: 0 0% 98%;
		--input: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--muted: 240 3.7% 15.9%;
		--popover-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--primary-foreground: 240 5.9% 10%;
		--primary: 0 0% 98%;
		--ring: 240 4.9% 83.9%;
		--secondary-foreground: 0 0% 98%;
		--secondary: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
