name: Deploy to Cloudflare Workers

on:
  push:
    branches:
      - main

concurrency:
  group: 'workers'
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build application
        run: CF_PAGES=true bun run build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: build-output
          path: .svelte-kit

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: build-output
          path: .svelte-kit
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
